@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


/*------------- Body and header text---------------- */

.book.font-family-1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

}

h1 {
  font-family: 'Bungee Shade', sans-serif;
  color: #000000;
}

h2 {
  font-family: 'Bungee Shade', sans-serif;
  color: #000000;
}

h3 {
  font-family: 'Bungee', Monospace;
  color: #61BA02;
  font-weight: 500;

}

h4 {
  font-family: 'Bungee', Monospace;
  color: #7A81FF;
  font-weight: 500;

}

h5 {
  font-family: 'Bungee', Monospace;

}

.title {
  font-family: 'Bungee Shade', sans-serif;
  font-size: 3em !important;
  color: #000000;
 }

.subtitle {
  font-family: 'Bungee Shade', serif;
  color: #000000;
}

/*-----Body Links-------*/

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #00A2FF;
  font-weight: 500;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
  color: #3A85D2; /* color when hovering */
  font-weight: 500;
  text-decoration: none;
}

/*--- LOGO ---*/

.toc-logo {
  width: 250px !important;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.toc-logo img {
  max-width: 100%;
  margin-bottom: 5px;
}

.summary > li:first-child {
  height: auto !important;
}


/* -----------Sidebar div tips------------- */
/* from r-pkgs.org*/

  div.learningobjectives, div.fyi, div.takeaways, div.exercises {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
  }

div.learningobjectives {
  background-image: url("../images/learningobjectives.png");
  color: #014770;
  background-color: #C7EAFE;
  border: solid 5px #E4F5FF;
}

div.fyi {
  background-image: url("../images/fyi.png");
  color: #356800;
  background-color: #D3FFA5;
  border: solid 5px #E7FFCC;
}

div.takeaways {
  background-image: url("../images/takeaways.png");
  color: #7F025C;
  background-color: #FECDF1;
  border: solid 5px #F9DFF3;
}

div.exercises {
  background-image: url("../images/exercises.png");
  color: #000BBC;
  background-color: #E4E6FF;
  border: solid 5px #F2F2FF;
}


/*------------ TOC --------------*/

.summary{
font-family: 'Roboto', sans-serif;
font-weight: 300;
}

.book .book-summary {
  background: white;
  border-right: none;
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.summary a:hover {
  color: #00A2FF !important;
}

.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #00A2FF !important;
  border-left: solid 4px;
  border-color: #00A2FF;
  padding-left: 11px !important;
}
